{% extends 'layout.html' %}

<!-- block admin -->
{% block admin %}
<h1 class="text-primary">Admin Panel</h1>
<hr />
<h2>Login</h2>

<form action="" class="col-md-4">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
            >Email address</label
        >
        <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
        />
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
            >Password</label
        >
        <input
            type="password"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="password"
        />
    </div>
    <button class="btn btn-primary">Login</button>
</form>
{% endblock %}
